.error-alert {
    color: red;
}
.yamy-required {
    color: red;
}

.spage {
    margin-top: 10px;
    font-size: 14px;
}

.spage .pagination {
    float: right;
}

.spage .pagination li {
    margin-left: 10px;
    float: left;
}

.yamy-error-summary {
    padding: 10px 10px;
    background-color: #ffb900;
    min-height: 70px;
    color: red;
    font-size: 13px;
}

#main-right {
    margin-top: 30px;
    float: left;
}
#main-left {
    margin-top: 30px;
    float: left;
    width: 800px;
}