.error-alert {
    color: red;
}
.yamy-required {
    color: red;
}

.spage {
    margin-top: 10px;
    font-size: 14px;
}

.spage .pagination {
    float: right;
}

.spage .pagination li {
    margin-left: 10px;
    float: left;

}