#authitem-name label {
    /*display: block;*/
}

#authitem-childroles, #authitem-childpermissions, #user-roles, #authitem-childrules {
    padding-top: 8px;
}

#authitem-childroles label, #authitem-childpermissions label, #user-roles label, #authitem-childrules label {
    margin-right: 20px;
}

.pr-tab {
    display: block;
    margin-bottom: 20px;
}

.create-btn {
    float: right;
    margin-bottom: 20px;
}